<h1>Book App</h1>

<h4>Create a new Book</h4>

<form #bookForm ="ngForm" (ngSubmit)="onBookFormSubmit(bookForm)">
    <label for="title">Title:</label>
    <input type="text" name="title" ngModel required><br><br>

    <label for="author">Author:</label>
    <input type="text" name="author" ngModel required><br><br>

    <label for="price">Price:</label>
    <input type="number" name="price" ngModel required><br><br>

    <label for="date">Publication Date:</label>
    <input type="date" name="date" ><br><br>

    <label for="genre">Genre:</label>
    <input type="text" name="genre" ngModel required><br><br>

    <label for="pages">Number of Pages:</label>
    <input type="number" name="pages" ngModel required><br><br>

    <label for="description">Description:</label>
    <input id="description" name="description" ngModel required><br><br>

    <label for="coverpage">Cover Page URL:</label>
    <input type="url" name="curl" ngModel required><br><br>

    <button *ngIf="bookForm.valid" type="submit" >Submit</button>
</form>
